@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: #a96c96;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #391b2a;
    padding: 1rem;
    position: relative;
}

.logo img {
    width: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin-left: auto;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 800;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ed5ca0;
}

.contact-btn {
    background-color: white;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.contact-btn:hover {
    background-color: #f572d8;
    color: #1b3039;
}

#menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: #822755;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #1b3039;
        display: none;
    }

    .nav-links li {
        margin: 10px 0;
        text-align: center;
    }

    .menu-icon {
        display: block;
    }

    /* When the checkbox is checked, display the menu */
    #menu-toggle:checked + .menu-icon + .nav-links {
        display: flex;
    }
}